*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    text-decoration: none;
}
:root{
    --main-red:rgb(131, 29, 29);
    --main-black:rgb(37, 37, 37);
    --main-blue:rgb(107, 107, 187);
    --main-white:white;
}
header{
    background-color:var(--main-red);
    max-width:100%;
    display: flex;
    justify-content: flex-end;
    padding: 8px 40px;
}
.navbar{
    padding: 15px 0px;
    width:20%;
    display: flex;
    justify-content: space-between;
   
}
a{
    color: var(--main-white);
    font-size:x-large;
    font-style: normal;
 }
 body{
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 #blankspace{
    width: 100%;
    background-color: var(--main-black);
    height: 90vh;

 }
 #blankspace h1 {
    color: var(--main-white);
    text-align: center;
    font-weight: 600;
    font-size: 3.8rem;
    display: block;
    margin: 12rem  0rem 0rem 0rem;
    
    
   

 }
#blankspace p{
    color: var(--main-red);
    text-align: center;
    font-size: 2rem;  
    margin-top:1rem;
    font-style: italic;
    font-weight: 100px;
}

#more{
    width: 100%;
    height: 200vh;
    display: block;
    flex-wrap: ;
    justify-content: space-between;
    background-color: var(--main-blue);
    
}
#more h1{
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: var(--main-white);
    text-underline-offset: 2px;
}
.card{
    display: flex;
    flex-wrap:wrap;
    width:98%;
    justify-content: space-between;
}
.apart{
    width: 3;
    
    
}
.card img{
    padding-right: 3px;
    display: flex;
    margin-bottom: 18px;
    height: 400px;
    
    }
    #never{
        background-color: var(--main-black);
        color: var(--main-white);
        width: 100%;
        height: 90vh;
        text-align: center;
    
    }
    #never h1{
        font-size: 4rem;
        font-weight: 700;
        margin-top: 10rem;
    }
    #never p{
        font-size: medium;
        font-style: italic;
        margin: 1rem 0rem 3rem 0rem;
    }
     #never hr{
        margin: 8rem 0rem 0rem 0rem;
        color: var(--main-red);
        
    }
    
    